export DIRENV_WARN_TIMEOUT=20s
source_env_if_exists .env

# if we're running Nix, use the flake
if [ -n "$NIX_PATH" ]; then
    echo "Using nix flake..."
    if ! has nix_direnv_version || ! nix_direnv_version 3.0.6; then
        source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.6/direnvrc" "sha256-RYcUJaRMf8oF5LznDrlCXbkOQrywm0HDv1VjYGaJGdM="
    fi
    use flake
fi
